* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #1B8AF1, #B58DED);
  min-height: 100vh;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  background: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19);
  min-width: 250px;
}

nav ul {
  width: 100%; 
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  color:white;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

nav a:hover {
  background: #8ec6fa;
  color: #000;
}

nav li:first-child {
  margin-right: auto;
}
.menu-button {
  display: none;
}
path  {
  fill: blue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background: black;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.034);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

.logo:hover {
  text-shadow: 1px 1px 2px white;
}

h4{
  font-family: 'Segoe UI', bold;
  font-size: 35px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

form{
  display: inline-block;
  align-items: center;
  height: 270px;
  min-width: 250px;
  max-width: 450px;
  margin-bottom: 170px;
}

.login{
  display: inline-block;
  background: #FFFFFF;
  min-width: 250x;
  max-width: 450px;
  height: 700px;
  margin-top: 1%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text_area{
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
  margin-top: 1.2rem;
  font-family: 'Montserrat regular';
  font-size: 20px;
  border: none;
  width: 80%;
}

.btn-login-register{
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: #000;
  border: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
  cursor: pointer;
}

.link{
  color: #000;
  font-family: 'Montserrat light';
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.appContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-list-title {
  width: 600px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-text {
  width: 300px;
  height: 40px;
  border-color: #000;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 1px;
  flex-grow: 1;
}

.todo-button {
  height: 40px;
  width: 100px;
  border-color: #000;
  border-radius: 0  10px 10px 0;
  background: blue;
  color: white;
}

.list-item {
  width: 500px;
  background: rgba(194, 169, 169, 0.726);
  padding: 10px;
  margin:10px;
  border:#000 solid 1px;
}

@media(max-width:800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media(max-width:450px) {
  .sidebar{
    width: 100%;
  } 
}